@import url('https://use.typekit.net/okk1qzx.css');

.navbar {
  background-color: transparent; 
  padding: 20px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1000;
  height: 40px;
}

.toggle-btn {
  font-size: 50px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0px;
}

.toggle-btn, .logo {
  color: #ff0042; 
  transition: color 0.3s ease; 
}

.navbar.open .toggle-btn,
.navbar.open .logo {
  color: white; 
}

.App{
  width: 100%;
  overflow: hidden;
}

.logo {
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.sidebar-arrow {
  color: transparent;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px; 
  height: 100%;
  background-color: #ff0042;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
  padding-bottom: 50px;
  transition: left 0.3s ease;
}

.sidebar-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  margin-top: 70px;
}



.sidebar-closed{
  width: 100%;
}

.sidebar:not(.open) {
  left: 0; 
  transition: left 0.3s ease; 
}

.sidebar-button:hover {
  background-color: white; 
  color: #ff0042; 
}

.sidebar-button:hover::before {
  background-color: #ff0042; 
}

.sidebar-content button, .logout-btn {
  color: white;
  background: none;
  border: none;
  text-align: left;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 10px;
  position: relative; 
  overflow: hidden; 
}

.sidebar-content button::before, .logout-btn::before {
  content: '';
  position: absolute;
  left: 2.5%; 
  top: 0;
  height: 100%;
  width: 95%; 
  background-color: white;
  border-radius: 10px; 
  z-index: -1; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.sidebar-content button:hover::before, .logout-btn:hover::before {
  opacity: 1; 
}

.sidebar-content button:hover, .logout-btn:hover {
  color: #ff0042; 
}

.logout-btn:hover .logout-icon {
  color: white;
  background-color: #ff0042; 
}

.logout-icon {
  color: #ff0042; 
  margin-right: 10px;
  border-radius: 50%;
  background-color: white; 
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  transition: background-color 0.3s; 
}

.icon-my-account {
  margin-right: 8px;
  vertical-align: middle; 
}

.sidebar-content button:hover .icon-my-account {
  color: #ff0042; 
}

.sidebar:not(.open) {
  left: -300px; 
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: white;
  background: transparent;
}

.content {
  margin-top: 60px;
  transition: margin-left 0.3s ease; 
}

.content.sidebar-open {
  margin-left: 260px; 
}

/*ProceduralTrainer*/

.procedures-container-wrapper {
  overflow-x: hidden; 
  padding-right: 80px; 
}

.procedures-container {
  display: flex;
  overflow-x: auto;  
  scrollbar-width: thin;  
  scrollbar-color: darkgrey #f1f1f1;  
  font-family: "myriad-pro", sans-serif;
  white-space: nowrap;  
  padding: 20px 0;  
  gap: 20px;  
  width: 100%; 
  padding-left: 80px; 
}

.procedurestrainer{
  width: 100%;
}

.recentprocedure{
  width: 100%;
}

.procedure {
  position: relative; 
  flex-shrink: 0;  
  width: 306px;  
  height: 419px;  
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;  
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.procedure h2 {
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  margin-top: 250px;
  width: 100%;

}

.sub-heading {
  position: absolute;
  bottom: 50px; 
  width: 100%;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.progress {
  z-index: 10;
  color: white; 
  font-family: "myriad-pro", sans-serif; 
  font-size: 60px; 
  font-weight: 700; 
  position: absolute; 
  top: 10px; 
  right: 20px; 
  margin: 0; 
  display: block;
}

.procedure:hover {
  transform: translateY(-10px);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

.procedures-container::-webkit-scrollbar {
  height: 10px;  
}

.procedures-container::-webkit-scrollbar-track {
  background: #f1f1f1;  
}

.procedures-container::-webkit-scrollbar-thumb {
  background-color: darkgrey; 
  border-radius: 10px;  
  border: 2px solid #f1f1f1;  
}

.procedures-container::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0; 
}

.cursor {
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
}

.recent-procedures-header {
  text-align: left;
  font-family: "myriad-pro", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #333;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-left: 80px; 
}

.recent-procedures-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
  white-space: nowrap;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-top: 10px;
  box-sizing: border-box; 
}

.recent-procedure {
  width: 211.5px;
  height: 228.5px;
  background-size: cover;
  border-radius: 30px;
  flex-shrink: 0;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.recent-procedure:hover{
  transform: translateY(-3px);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

.proceduretitle {
  color: white;
  text-align: center;
  font-family: "myriad-pro", sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.flight{
  position: relative;
  bottom: 15px; 
  width: 100%;
  text-align: center;
  color: white;
  font-family: "myriad-pro", sans-serif;
  font-size: 18px;
  font-weight: 400;;
  display: flex;
  justify-content: center;
}

.procedure-stars {
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top:  110px; 
  padding-bottom: 10px;
}

.starone {
  color: transparent; 
  stroke: white; 
  stroke-width: 30px; 
  margin: 0 2px;
  width: 30px; 
  height: 30px; 
  font-size: 24px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.starfilled {
  color: white; 
  stroke: none; 
  margin: 0 2px;
  width: 30px; 
  height: 30px; 
  font-size: 24px; 
}

/* Procedures */

/* * { outline: 1px solid red; } */


.secondcontainer {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute; 
  left: 17%;
  top: 0;
  padding-bottom: 150px;
  padding-top: 20px;
}

.start-box {
  position: absolute;
  top: 60px; 
  left: 150px;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 80px;
  z-index: 3;
}

.start-box::after {
  content: '';
  position: absolute;
  bottom: -50px; 
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 50px solid #000;
  z-index: 1; 
}

.secondwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-container {
  position: relative;
  width: 250px;
  height: 250px;
}

.progress-circle {
  position: absolute;
  top: 110px;
  left: 45px;
  z-index: 1;
}

.progress1-circle1{
  position: absolute;
  top: 110px;
  left: 370px;
  z-index: 1;
}

.locked .progress1-circle1 {
  display: none; 
}

.dashed-line {
  position: absolute;
  top: 190px;
  left: 140px;
  border-radius: 15px;
}

.secondbutton {
  display: flex;
  align-items: center;
  justify-content: center;  
  border-radius: 50%; 
  width: 150px;
  height: 150px; 
  margin-bottom: 10px; 
  border: none;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px rgba(128, 128, 128, 0.6); 
  transition: left 0.3s ease;
}

.secondbutton.button-1{
  background-color: #ff0042;
  box-shadow: 0px 10px rgb(124, 1, 1); 
  cursor: pointer; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 2;
}

.secondbutton.highlighted {
  background-color: #ff0042;
  box-shadow: 0px 10px rgb(124, 1, 1); 
  cursor: pointer; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 2;
  cursor: pointer;
}

.secondbutton.highlighted:hover {
  transform: translate(-50%, -52%);
  box-shadow: 0px 10px 3px #7c0101; 
}

.locked {
  cursor: not-allowed; 
  background-color: #ccc;
  cursor: not-allowed;
  color: #666; 
}

.secondbutton.button-1:hover{
  transform: translate(-50%, -52%);
  box-shadow: 0px 10px 3px #7c0101; 
}

.progress-container .progress-circle {
  display: block; 
}

.secondbutton.button-2,
.secondbutton.button-4,
.secondbutton.button-6 {
  top: 215px;
  left: 480px;
}

.secondbutton.button-1,
.secondbutton.button-3,
.secondbutton.button-5 {
  top: 215px;
  left: 155px;
}

.lock-icon {
  color: darkgrey;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.starsb {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.starb {
  color: #ccc; 
  width: 20px; 
  height: 20px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: transparent;
  margin: 0 2px; 
}

.starb.filledb {
  color: red; 
  stroke: none; 
  width: 30px; 
  height: 30px;
  margin: 0 2px; 
}

.starb.unfilledb {
  color: #ccc; 
  stroke: none; 
  width: 30px; 
  height: 30px; 
  margin: 0 2px; 
}

.title{
  width: 150px;
}

.starsb.starsb-1,
.starsb.starsb-3,
.starsb.starsb-5 {
  margin-left: 60px;
  margin-top: 85px;
  position: relative;
}

.title.title-1,
.title.title-3,
.title.title-5 {
  text-align: center;
  margin-left: 60px;
  margin-top: 5px;
  color: #666;
  position: relative;
}

.starsb.starsb-6,
.starsb.starsb-4,
.starsb.starsb-2 {
  position: relative;
  margin-top: 85px;
  left: 350px;
}

.title.title-6,
.title.title-4,
.title.title-2 {
  text-align: center;
  color: #666;
  position: relative;
  margin-top: 5px;
  left: 350px;
}

.title-line.thick {
  font-family: "myriad-pro", sans-serif;
  font-size: 23px;
  font-weight: 700;
}

.title-line.thin {
  font-family: "myriad-pro", sans-serif;
  font-size: 23px;
  font-weight: 400;
}

.starsb-and-percentageb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: -25px;
  margin-top: 10px;
}

.percentage {
  font-size: 30px;
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
}

.modal {
  display: block;
  position: fixed;
  top: 50px;
  width: 600px;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  left: 60%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  width: 100%;
  max-width: 90%;
}

.modal h1 {
  font-family: "myriad-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
}

.modal-content p {
  font-family: "myriad-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.start-button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  width: auto;
  display: block;
  margin: 230px auto;
  width: 180px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.start-button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1025px) and (max-width: 1366px) {

  .logo{
    height: 40px;
  }

  .content.sidebar-open {
    margin-left: 290px; 
  }
 
  /* Procedures*/

  .procedure{
    width: 246px;
    height: 359px;

  }

  .procedures-container-wrapper {
    padding-right: 15px; 
  }

  .procedure h2{
    font-size: 24px;
    margin-top: 220px;
  }

  .sub-heading{
    font-size: 16px;
    bottom: 30px;
  }

  .progress{
    font-size: 40px;
  }

  .recent-procedure{
    width: 181.5px;
    height: 198.5px;
  }

  .procedure:hover {
    transform: translateY( 0px);
  }

  .recent-procedures-header{
    padding-left: 20px;
    margin-bottom: -10px;
  }

  .recent-procedures-container{
    padding-left: 20px;
    padding-top: 0px;
  }

  .starone{
    width: 25px;
    height: 25px;
  }

  .starfilled{
    width: 25px;
    height: 25px;
  }

  .proceduretitle{
    font-size: 18px;
  }

  .flight{
    font-size: 16px;
    bottom: 20px;
  }

  .procedure-stars{
    padding-bottom: 5px;
  }

  .recent-procedure:hover{
    transform: translateY(0px);
  }

  .procedures-container{
    padding-left: 20px;
  }

  /* Procedures */

  .progress-circle {
    position: relative;
    top: 110px;
    left: 45px;
  }

  .dashed-line {
    position: absolute;
    top: 190px;
    left: 130px;
  }

  .secondbutton {
    top: 50%;
    left: 50%;
  }

  .modal {
    width: 50%;
    height: 580px;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .start-button{
    margin: 160px auto;
  }

  .start-button:hover{
    transform: translateY(0px);
  }

  .modal-content p {
    font-size: 15px;
  }

  .secondbutton.button-1:hover{
    transform: translate(-50%, -50%);
    box-shadow: none;
  }

  .secondbutton.highlighted:hover{
    transform: translate(-50%, -50%);
    box-shadow: none;
  }

  .secondcontainer{
    padding-left: 130px;
  }

}


/* Media query for screens less than 1366px wide */
@media (min-width: 800px) and (max-width: 1024px) {

  .navbar{
    margin-left: -10px;
  }

  .sidebar {
    width: 250px;
  }

  .sidebar:not(.open) {
    left: -250px;
  }

  .toggle-btn{
    font-size: 70px;
  }

  .logo{
    height: 40px;
  }

  .content.sidebar-open {
    margin-left: 250px;
  }

  /* Procedure Content */

  .procedure{
    width: 246px;
    height: 359px;
  }

  .procedures-container-wrapper {
    padding-right: 10px; 
  }

  .procedures-container{
    padding-left: 10px;
  }

  .procedure h2{
    font-size: 24px;
    margin-top: 220px;
  }

  .sub-heading{
    font-size: 16px;
    bottom: 30px;
  }

  .progress{
    font-size: 40px;
  }

  .recent-procedure{
    width: 181.5px;
    height: 198.5px;
  }

  .procedure:hover {
    transform: none;
  }

  .recent-procedures-header{
    padding-left: 10px;
    margin-bottom: -10px;
  }

  .recent-procedures-container{
    padding-left: 10px;
    padding-top: 0px;
  }

  .starone{
    width: 25px;
    height: 25px;
  }

  .starfilled{
    width: 25px;
    height: 25px;
  }

  .proceduretitle{
    font-size: 18px;
  }

  .flight{
    font-size: 16px;
    bottom: 20px;
  }

  .procedure-stars{
    padding-bottom: 5px;
  }

  .recent-procedure:hover{
    transform: none;
  }

  /* Procedures */

  .progress-circle {
    position: relative;
    top: 110px;
    left: 45px;
  }

  .dashed-line {
    position: absolute;
    top: 190px;
    left: 130px;
  }

  .secondbutton {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal {
    width: 60%;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .start-button{
    margin: 60px auto;
  }

  .start-button:hover{
    transform: none;
  }

  .modal-content p {
    font-size: 15px;
  }

  .secondcontainer{
    padding-left: 35px;
  }


}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 800px) 
  and (max-device-height: 1000px) {

  .navbar{
    margin-left: -10px;
    margin-top: 30px;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar-content button {
    padding: 15px 24px;
    width: 90%; /* Adjust width as needed */
    padding: 15px 2px; /* Adjust vertical padding to bring borders closer to text */
    border-bottom: 2px solid rgb(255, 255, 255, 0.748); /* Thin line below */
  }
  
  .sidebar-content .size {
    font-size: 55px !important;
  }
  
  .logout-btn {
    font-size: 40px !important;
    margin-bottom: 30px;
    width: 90%; /* Adjust width as needed */
  }

  .sidebar-arrow {
    position: absolute;
    right: 10px; /* Adjust position as needed */
    top: 50%; 
    transform: translateY(-50%);
    color: white;
    font-size: 50px; /* Adjust size as needed */
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text inside the items */
    margin-top: 120px;
  }

  .icon-my-account{
    font-size: 40px;
  }

  .logout-icon{
    font-size: 40px;
  }

  .sidebar:not(.open) {
    left: -100%;
    transition: left 0.3s ease; 
  }

  .toggle-btn{
    font-size: 140px;
  }

  .logo{
    height: 90px;
    margin-top: 20px;
  }

  .content.sidebar-open {
    margin-left: 23px;
  }

  .content{
    margin-top: 130px;
    margin-left: 30px;
  }

    /* Procedure Content */

    .procedure{
      width: 606px;
      height: 849px;
      border-radius: 60px;
    }   

    .procedures-container-wrapper {
      padding-right: 15px; 
    }

    .procedures-container{
      padding-left: 23px;
    }

    .procedure h2{
      font-size: 65px;
      margin-top: 500px;
    }

    .sub-heading{
      font-size: 40px;
      bottom: 80px;
    }

    .progress{
      font-size: 120px;
    }

    .recent-procedure{
      width: 361.5px;
      height: 378.5px;
      border-radius: 60px;
    }

    .procedure:hover {
      transform: none;
    }

    .recent-procedures-header{
      padding-left: 23px;
      margin-bottom: -10px;
      font-size: 50px;
    }

    .recent-procedures-container{
      padding-left: 10px;
      padding-top: 0px;
    }

    .starone{
      width: 60px;
      height: 60px;
    }

    .starfilled{
      width: 60px;
      height: 60px;
    }

    .proceduretitle{
      font-size: 40px;
      padding-bottom: 5px;
    }

    .flight{
      font-size: 35px;
      bottom: 25px;
      margin-top: 20px;
    }

    .procedure-stars{
      padding-bottom: 5px;
    }

    .recent-procedure:hover{
      transform: none;
    }

    .procedure-stars{
      margin-top: 180px;
    }

    .procedurestrainer{
      margin-top: 100px;
    }

    /* Procedures */

    .modal {
      width: 80%;
      height: 80%;
      left: 50%;
      transform: translateX(-50%);
    }

    .modal-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .start-button{
      margin: 190px auto;
    }
  
    .start-button:hover{
      transform: none;
    }

    .progress-circle {
      position: relative;
      top: 110px;
      left: 45px;
    }
  
    .dashed-line {
      position: absolute;
      top: 190px;
      left: 130px;
    }
  
    .secondbutton {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .title-line.thick,
    .title-line.thin{
      font-size: 40px;
    }

    .title{
      width: 300px;
    }

    .starb.filledb{
      width: 40px;
      height: 40px;
    }

    .starb.unfilledb{
      width: 40px;
      height: 40px;
    }

    .modal h1{
      font-size: 60px;
    }

    .modal-content p{
      font-size: 30px;
    }

    .start-button{
      font-size: 50px;
      margin-top: 70%;
      width: 200px;
    }

    .percentage{
      font-size: 50px;
    }

    .secondcontainer{
      margin-top: 120px;
      margin-left: -50px;
    }

}



