body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.navbar {
  background-color: #ff0042;
  padding: 5px 20px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.navbar-left button,
.navbar-right button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff0042;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #ff0042;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.dropdown-content button:hover {
  background-color: #e60038;
}

.dropdown:hover .dropdown-content {
  display: block;
}
